* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
}

header {
  background-color: #1f2937;
}

.container {
  padding-inline: 12rem;
}
/* NAVBAR STARTS */
.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nav-link .logo a {
  font-size: 24px;
  color: #f9faf8;
  text-decoration: none;
}

.nav-link .nav-lists {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-lists a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  text-transform: capitalize;
}
/* NARBAR ENDS */

/* HER0 STARTS */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  gap: 40px;
}

.items {
  width: 600px;
  height: 250px;
}

.items h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.items p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 6px;
}

.items button {
  background-color: #3882f6;
  border: none;
  padding: 8px;
  color: #f9faf8;
  font-weight: 600;
  border-radius: 10px;
  width: 130px;
  margin-top: 15px;
  font-size: 18px;
}

.items button:hover {
  transform: scale(1.2);
}

.items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HERO ENDS */
/* MAIN CONTENTS STARTS */
.information {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.info {
  text-align: center;
}

.info h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 900;
}

.info-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.item img {
  border: #3882f6 solid 3px;
  margin-top: 2rem;
  border-radius: 14px;
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.item p {
  color: #1f2937;
}

/* MAIN INFORMATION ENDS  */
/* QUOTES STARTS */
.quote-section {
  background-color: #e5e7eb;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  padding: 20px;
}

.quote-author {
  text-align: right;
  padding-right: 20px;
  font-weight: 900;
  font-size: 24px;
}
/* QUOTES ENDS */
/* CTA STARTS */
.cta-section {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.cta {
  width: 100%;
  border-radius: 15px;
  background-color: #3882f6;
  display: flex;
  padding: 4rem;
  justify-content: space-between;
  align-items: center;
}

.cta-txt {
  color: white;
  line-height: 1.4;
}

.cta-txt h3 {
  font-size: 20px;
}

.cta button {
  border: 2px solid #f9faf8;
  border-radius: 10px;
  color: #f9faf8;
  padding: 4px;
  font-size: 18px;
  width: 140px;
  background-color: #3882f6;
}
/* CTA ENDS */
/* FOOTER STARTS */
footer {
  background-color: #1f2937;
  padding: 3rem;
}

.footer-text {
  text-align: center;
  color: #f9faf8;
}

.footer-text p {
  font-size: 20px;
}

.menu {
  display: none;
}

@media (max-width: 645px) {
  header {
    padding-bottom: 20px;
    height: 750px;
  }

  .logo {
    font-size: 14px;
  }

  .menu {
    display: block;
  }

  .container {
    padding-inline: 1rem;
  }

  .nav-lists a {
    display: none;
  }

  .hero-section {
    flex-direction: column;
    padding-top: 3rem;
  }

  .items {
    width: 100%;
  }

  .items h1 {
    font-size: 30px;
    text-align: left;
  }

  .info h2 {
    font-size: 26px;
  }

  .info-items {
    flex-direction: column;
  }

  .information {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .item img {
    width: 100%;
  }

  .quote-section {
    padding: 15px;
  }

  .quote-text {
    font-size: 20px;
    text-align: center;
  }

  .quote-author {
    font-size: 16px;
    text-align: center;
  }

  .cta-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .cta {
    flex-direction: column;
    align-items: last baseline;
    padding: 30px;
  }

  .cta button {
    margin-top: 10px;
  }

  .footer-text p {
    font-size: 18px;
  }
}
